/* Lien dans un texte */
p > a:hover:not(.md-button) {
    opacity: 0.5;
    text-decoration: underline;
}

/* Barre de recherche */
.md-search__input,
.md-search-result__meta {
    background-color: rgba(255, 255, 255, 0.2);
}

.md-search__input {
    border-radius: 6px;
}

.md-search-result__meta {
    border-radius: 0 0 6px 6px;
}

.focus-visible {
    border-radius: 6px 6px 0 0;
}

.md-search__scrollwrap:last-child {
    border-radius: 0 0 6px 6px;
}

/* Texte sous image */
figcaption {
    font-size: 0.8em;
    color: #6c757d;
}


[data-md-color-scheme=slate] {
    --md-default-fg-color--light: white;
    --md-typeset-color: white;
}

/* Admonition */
.md-typeset .admonition,
.md-typeset details {
    border-width: 0;
    border-left-width: 4px;
    background-color: #22272e;
    color: white;
    font-size: .75rem;
}

/* Titres */
.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4, .md-typeset h5, .md-typeset h6 {
    font-weight: bold;
}

/* Grid */
.md-typeset .grid.cards>ol>li, .md-typeset .grid.cards>ul>li, .md-typeset .grid>.card {
    border-radius: 6px;
}

/* Footer */
.md-footer__inner {
    gap: 20px;
}

.md-footer__link {
    border: rgb(43, 46, 57) 1px solid;
    border-radius: 6px;
    width: 30%;
    transition-duration: 0.15s;
    transition-property: all;
}

.md-footer__link:hover {
    opacity: 1;
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 12px 13px;
}

.md-footer__link:hover .md-ellipsis,
.md-footer__link:hover .md-footer__button {
    color: rgb(78, 170, 200);
}

.md-footer__title {
    margin: 0.7rem 0;
    width: 50%;
}

@media screen and (max-width: 768px) {
    .md-footer__link {
        width: 50%;
    }
}

.md-footer__link--next {
    text-align: left;
}

@media screen and (max-width: 44.984375em) {
    .md-footer__link--prev .md-footer__title {
        display: block;
    }
}

.md-footer__link--prev {
    text-align: right;
}

.md-footer__button {
    align-self: center;
}

/* Custom */
.profil-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}